/**
* Generic styles
*/
html,
body,
body *,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    width: auto;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #F1F1F1;

    font-family: 'Helvetica', Helvetica, Arial, Verdana, Geneva, sans-serif;
    font-size: 12pt;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    color: #333;
    color: rgba(0,0,0,0.8);

    & * {
        position: relative;
        z-index: 1;
    }
}

//-------------------------------------------------------------
// Headlines
//-------------------------------------------------------------
h1, h2, h3, h4, h5 {
    padding: 0.5rem 0 1rem 0;
    margin: 0;
    font-family: 'Helvetica', Helvetica, Arial, Verdana, Geneva, sans-serif;
    font-weight: bold;
    font-style: normal;
    line-height: 1.5;
    color: rgba(0,0,0,0.8);
}

h1, h2 {
    margin: 0 0 0.5rem 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5, h6 {
    font-size: 16px;
}


//-------------------------------------------------------------
// Paragraphs
//-------------------------------------------------------------
p {
    padding: 0.3% 0 1% 0;
    margin: 0;
    font-family: 'Helvetica', Helvetica, Arial, Verdana, Geneva, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 13pt;
    line-height: 1.8;
    color: rgba(0,0,0,0.8);
}

//-------------------------------------------------------------
// Links
//-------------------------------------------------------------
a {
    display: inline-block;
    text-decoration: none;
    color: rgb(52, 152, 219);
    transition: 0.3s;

    &:hover, &:focus {
        color: rgb(37, 116, 169);
        transition: 0.3s;
    }

    &[href*="#fn"] {
        vertical-align: super;
        font-size: 9pt;
    }
}

//-------------------------------------------------------------
// List item
//-------------------------------------------------------------
li {
    padding-top: 0.3%;
    padding-bottom: 0.5%;
    font-family: 'Helvetica', Helvetica, Arial, Verdana, Geneva, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 13pt;
    line-height: 1.7;

    & ol > li {
        list-style-type: lower-alpha;

        & > ol > li {
            list-style-type: lower-roman;
        }
    }

}

//-------------------------------------------------------------
// Images
//-------------------------------------------------------------
img {
    width: auto;
    max-width: 100%;
    border: none;
    outline: none;
}

//-------------------------------------------------------------
// Horizontal separator
//-------------------------------------------------------------
hr {
    background: none;
    border: none;

    width: 100%;
    height: 2px;
    margin: 1% auto;
    padding: 0;
    background: rgba(0,0,0,0.1);
    border-radius: 2px;
}

//-------------------------------------------------------------
// Tables
//-------------------------------------------------------------
table {
    display: table;
    border-collapse: collapse;

    & th, & td {
        padding: 8px 15px;
        border: 1px solid #E5E5E5;
        line-height: 1.3;
    }

    & thead th {
        background: rgba(0,0,0,0.08);
        border: 1px solid #CCC;
        border-bottom: 2px solid #CCC;
    }

    & tbody tr:nth-child(even) {
        background: rgba(0,0,0,0.03);
    }
}

//-------------------------------------------------------------
// Code
//-------------------------------------------------------------
code {
    display: inline-block;
    margin: 0;
    padding: 0 8px;
    background: rgba(0,0,0,0.05);
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.08);
    border-radius: 3px;

    font-family: monospace;
    font-weight: lighter;
    color: #c0392b;
}

pre {
    display: block;
    position: relative;
    margin: 0;
    padding: 10px 20px 10px 50px;
    background: rgba(0,0,0,0.05);
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.08);
    border-radius: 3px;

    & code {
        display: block;
        position: relative;
        margin: 0;
        padding: 5px 0;
        background: none;
        box-shadow: none;
        border-radius: 0;

        font-family: monospace;
        font-weight: lighter;
        line-height: 1.5;
        color: rgba(0,0,0,0.8);

        &::before {
            display: block;
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 2px;
            height: 100%;
            background: rgba(0,0,0,0.05);
            border-radius: 2px;
        }
    }
}

//-------------------------------------------------------------
// Figure
//-------------------------------------------------------------
figure {
    display: block;
    position: relative;
    overflow: hidden;
    width: 800px;
    max-width: 100%;
    margin: 0.5rem auto;
    padding: 0;
    border: 2px solid rgba(0,0,0,0.05);
    border-radius: 3px;

    text-align: center;

    & img {
        display: block;
        position: relative;
        margin: 0;
        padding: 0;
        outline: none;
        border-radius: 3px;
    }

    & figcaption {
        display: block;
        position: absolute;
        visibility: hidden;
        opacity: 0;
        z-index: 999;
        bottom: 0;
        left: 0;
        width: 100%;
        margin: 0 auto;
        padding: 10px 20px;
        background: rgba(0,0,0,0.7);
        border-radius: 0 0 3px 3px;
        transition: 0.5s;

        font-family: 'Helvetica', Helvetica, Arial, Verdana, Geneva, sans-serif;
        font-weight: normal;
        font-style: italic;
        font-size: 10pt;
        text-align: center;
        color: #FFF;
    }

    &:hover figcaption, &:focus figcaption {
        visibility: visible;
        opacity: 1;
        transition: 0.5s;
    }
}

/**
* Media queries
*/

//-------------------------------------------------------------
// Print
//-------------------------------------------------------------
@media print {
    body {
        background: #FFFFFF;
        border: none;
        box-shadow: none;
    }
}
