.Overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(103, 65, 114);
    backface-visibility: hidden;

    &--transparency {
        opacity: 0.3;

        &--low {
            opacity: 0.1;
        }

        &--medium {
            opacity: 0.5;
        }

        &--high {
            opacity: 0.8;
        }
    }

    &--cover {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &--blur {
        filter: blur(5px);

        &--low {
            filter: blur(3px);
        }

        &--high {
            filter: blur(10px);
        }
    }
}