/**
 * Presentation styles
 */

.Presentation {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 500px;
    margin: 0 auto;
    padding: 0;
    background-color: rgb(103, 65, 114);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    backface-visibility: hidden;

    & .Wrapper {
        width: auto;
        margin: 0 auto;
        top: 50%;
        transform: translateY(-50%);
    }
}