/**
 * Section
 */

.Section {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 3rem 0;
    box-sizing: border-box;
    background: rgb(255,255,255);
    border-bottom: 2px solid rgba(0,0,0,0.1);

    & .Wrapper {
        display: block;
        position: relative;
        width: 95%;
        max-width: 1200px;
        margin: 0 auto;
    }
}