.Wrapper {
    position: relative;
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 1rem;

    &--textCentered {
        text-align: center;

        & h1, & h2, & p {
            text-align: center;
            border: none;
            box-shadow: none;
        }

        & h1, & h2 {
            padding: 0 0 0.5rem 0;
            margin: 0;
            font-weight: lighter;
        }

        & p {
            padding: 0.3rem 0;
        }

        & h1 {
            font-size: 38px;
        }
        & h2 {
            font-size: 28px;
        }
    }

    &--textWhite {
        color: rgb(255,255,255);

        & h1, & h2, & p {
            color: rgb(255,255,255);
        }
    }

    &--textHoneyFlower {
        color: rgb(103, 65, 114);

        & h1, & h2, & p {
            color: rgb(103, 65, 114);
        }
    }

    &--textEbonyClay {
        color: rgb(34, 49, 63);

        & h1, & h2, & p {
            color: rgb(34, 49, 63);
        }
    }

    &--textShadow {
        text-shadow: 0 2px 4px rgba(0,0,0,0.3);

        &--low {
            text-shadow: 0 1px 1px rgba(0,0,0,0.1);
        }

        &--high {
            text-shadow: 0 2px 22px rgba(0,0,0,0.8);
        }
    }

    &--textShadowLight {
        text-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);

        &--low {
            text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
        }

        &--high {
            text-shadow: 0 2px 22px rgba(255, 255, 255, 0.8);
        }

    }

}