/**
* Article styles
* -----------------------------
* @author: Kevin Richard
* @email: kvrichard@gmail.com
*/

@import '__common.scss';
@import '__Document.scss';
@import '__Wrapper.scss';
@import '__Section.scss';
@import '__Presentation.scss';
@import '__Overlay.scss';

.Root {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    & * {
        box-sizing: border-box;
    }
}